.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  //Esto es para esconder lo q salga por fuera del contenedor padre del hijo
  overflow: hidden;

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover; // Parecido a     background-size: cover; pero lo hace con respecto al padre
    //background-size: cover;
  }
}