.feature-box {
  background-color: rgba($color-white, .8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: .3rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
  //Se pone la transicion a la cual c le quiere modificar los tiempos o all para todas
  transition: transform .2s;

  @include respond(tab-port) {
    padding: 2rem;
  }

  &__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    //color: $color-green-secundary;
    display: inline-block;
    background-image: linear-gradient(to right,rgba($color-green-primary, 0.8), rgba($color-green-secundary, 0.8));
    //Pa acortar el borde del cuadro solo al texto
    -webkit-background-clip: text;
    //C hace esto pq las letras por defecto tienen un color y se le pone transparente pa q c queden con el color del contenedor
    color: transparent;

    @include respond(tab-port) {
      margin-bottom: 0;
    }
  }

  &:hover {
    transform: scale(1.05) translateY(-1.5rem);
  }
}